<footer>
	<div class="container">
		<div>
			<p class="form-inline"><btn class="btn">jQuery</btn><input  class="input-xxlarge" type="text"  value="http://code.jquery.com/jquery-1.8.2.js"/></p>
			<p class="form-inline"><btn class="btn">Idera.jQuery</btn><input type="text" class="input-xxlarge"  value="http://mapa.ign.gob.ar/idera.jquery/idera.jquery.js"/></p>
			<hr/>

			<p>El c칩digo de idera.jquery est치 disponible bajo una <a href="http://mapa.ign.gob.ar/idera.jquery/LICENCIA" target="_blank">licencia</a> basada en la BSD.</p>
			<p>La documentaci칩n de idera.jquery usa  <a href="http://twitter.github.com/bootstrap/">Bootstrap, de Twitter</a> y <a href="http://jquery.com/">jQuery</a> y los html est치ticos se generan con <a href="http://www.phrozn.info/">phrozn</a>. El hosting del proyecto corre por cuenta de <a href="http://github.com/">Github</a>.</p>  
			<p>Desarrollado en el IGN por <a href="http://github.com/oskosk/">@osk</a>.</p>  			

		</div>

	</div>

    
</footer>
<script type="text/javascript">
$('input[type=text]').click(function(){
    // Select input field contents
    $(this).select();
});
</script>
