<div class="content">
<section id="caracteristicas">
    <div class="row-fluid">
        <div class="span12">
            <h3 id="queesidera">¿Qué es IDERA?</h3>
            <p>
              La <strong>Infraestructura de Datos Espaciales de la República Argentina (IDERA)</strong>
              es un ámbito de trabajo colaborativo en el que participan
               los diferentes niveles del gobierno, el ámbito académico y de investigación. A través de su representación, la IDERA busca mantener un carácter nacional y federal.
            </p>
            <p>
              El propósito de conformar una Infraestructura de Datos Espaciales
              es establecer acuerdos entre instituciones para posibilitar la búsqueda,
              evaluación y aprovechamiento de la información geográfica producida en el Estado.
            </p>
            <p>
              Más información en <a href="http://www.idera.gob.ar" target="_blank">http://www.idera.gob.ar</a>.
            </p>
        </div><!--span12-->
    </div><!--row-fluid-->

    <div class="row-fluid">
        <div class="span12">
            <h3 id="queesiderajquery">¿Qué es idera.jquery?</h3>            
            <p><strong>idera.jquery</strong> es un plugin para jQuery que permite combinar los
                datos de IDERA publicados a través de servicios conforme a estándares. 
                De esta manera, podés poner en tu sitio
                los datos de IDERA representados de varias maneras a través de <strong>widgets</strong>.</p>
        </div><!--span12-->
    </div><!--row-fluid-->
</section>
<hr/>
<section id="widgetsdisponibles">
  <h3>Widgets disponibles</h3>
  <h4 id="widget_mapa">Mapa</h4>
  <p>
    Muestra un mapa simple y permite superponerle una capa WMS de IDERA.
  </p>
  <p>
    Este widget sirve principalmente para un previsualización de una capa
    en una página con otro contenido.
  </p>
  <h4 id="widget_tabladecapaswms">Tabla de capas WMS</h4>
  <p>
    Este widget muestra una tabla con información de las capas
    publicadas en uno o todos los servicios WMS de IDERA.
  </p>
  <h4 id="widget_tabladecapaswms">Tabla de capas WMS</h4>
  <p>
    Este widget muestra una tabla con información de las capas
    publicadas en uno o todos los servicios WMS de IDERA.
  </p>  
  <div class="row-fluid">

  </div> <!--row -->
</section>
        <script type="text/javascript">
        </script>

</div>
