<div class="content">
	<h2>Datos de IDERA</h2>
	<div class="row">
		<div class="span12">
			<h3>Origen de los datos</h3>
			<p>Los datos que este plugin muestra provienen de los servicios <a href="http://es.wikipedia.org/wiki/Web_Map_Service" target="_blank">WMS</a> que
				participan de la <a href="http://www.idera.gob.ar/" target="_blank">Infraestructura de Datos Espaciales de la República Argentina</a>. Estos servicios ofrecen una descripción minuciosa de los datos que publican a través de 
				un informe de capacidades (<em>Documento Capabilities</em>).
			</p>
			<p>
			    <strong>idera.jquery</strong>
				recorre la IDERA recopilando estos documentos, analizándolos y facilitando
				su representación en la web.
			</p>				
			<p>
				Podés encontrar el listado de las URL de los servicios WMS que conforman
				la IDERA (en formato JSON) en esta URL.
			</p>
			<p>
				<code class="lead">{{this.baseurl}}/servicios_wms.json</code>
			</p>			
		</div>
	</div>		
	<div class="row">
		<div class="span12">
			<h3>Servicios WMS de IDERA</h3>
			<div id="servicios_wms">
				
			</div>
		</div>
	</div>	


</div>
<script type="text/javascript">
$(document).ready(function() {

	mostrarServiciosWMS();
});

function mostrarServiciosWMS()
{
	$.getJSON('{{this.baseurl}}/servicios_wms.json', function(servicios) {
		$.each( servicios, function (k, v) {
			$('#servicios_wms').append('<h4>'+v.title+'</h4>')
				.append('<p><span>Servicio WMS</span>'
				+' <code>'+v.url+'</code></p>')			
				.append('<p><span>Identificador</span>'
				+' <span class="label label-success">'+k+'</span></p>')	;
		} )
	})
}

function mostrarTodasLasCapas( servidor )
{
$('#tabla').idera().tablaDeCapas();
	$('#tabla > table').addClass('table table-striped table-hover table-condensed');	
}
	

</script>