<div class="content">
  <section>
  <h3>Ejemplos para un solo servicio WMS</h3>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img alt="ideformosa" style="width: 300px;" src="media/img/ejemplos/tablaideformosa.jpg">
          <div class="caption">
            <h4>Una tabla con las capas de un WMS de IDERA</h4>
            <p>En este ejemplo se muestra el widget tablaDeCapasWMS utilizando solo el servicio
            WMS de la IDE Formosa.</p>
            <p><a target="_blank" href="ejemplos/ideformosa.html" class="btn btn-primary">Ver ejemplo</a></p>
          </div>
        </div>
      </li>
      <li class="span3">
        <div class="thumbnail">
          <img alt="mapaideformosa" style="width: 300px;" src="media/img/ejemplos/mapaideformosa.jpg">
          <div class="caption">
            <h4>Un mapa con una capa de un WMS</h4>
            <p>En este ejemplo se muestra el widget mapa utilizando solo el servicio
            WMS de la IDE Formosa.</p>
            <p><a target="_blank" href="ejemplos/mapaideformosa.html" class="btn btn-primary">Ver ejemplo</a></p>
          </div>
        </div>
      </li>      
    </ul>
  </div>
  </section>
  <section>
  <h3>Ejemplos para servicios de la IDERA en general</h3>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img alt="tabladeservicioswms" style="width: 300px;" src="media/img/ejemplos/tabladeservicioswms.jpg">
          <div class="caption">
            <h4>Una tabla con la descripción de los servicios WMS de IDERA</h4>
            <p>En este ejemplo se muestra el widget tablaDeServiciosWMS</p>
            <p><a target="_blank" href="ejemplos/tabladeservicioswms.html" class="btn btn-primary">Ver ejemplo</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </section>
</div>