<div class="content">
        <h2>Guía para usuarios <small>ejemplos, conceptos básicos, etc</small></h2>
        <hr/>
    <div class="row-fluid">
        <div class="span4">
            <h4>Cómo empezar</h4>
            <ul class="lead">
                <li><a href="caracteristicas.html#queesiderajquery">¿Qué es idera.jquery?</a></li>                
                <li><a href="pasoapaso.html">Paso a paso</a> cómo usar un widget de IDERA</a>.</li>
                <li><a href="caracteristicas.html#widgets">Widgets disponibles</a>.</li>
                <li><a href="ejemplos.html">Ejemplos</a>.</li>
                <li><a href="caracteristicas.html">Características</a>.</li>
            </ul>
        </div><!--span4-->
        <div class="span4">
            <h4>API</h4>
            <ul class="lead">
                <li><a href="api.html">Documentación completa de la API</a></li>
            </ul>
        </div>
             

    </div><!--row-->
    <hr>
    <div class="row-fluid">
        <div class="span4">
            <h4>Acerca de IDERA </h4>
            <ul>
                <li>Leé acerca del <a href="datosdeidera.html">origen de los datos idera.jquery</a></li>
                <li><a href="caracteristicas.html#queesidera">Qué es IDERA</a></li>
            </ul>            
        </div><!--span4-->
        <div class="span4">
            <h4>Cómo aprovechar idera.jquery para tu WMS</h4>
            <ul>
                <li><a href="">Tutorial para listar tus capas WMS en tu sitio</a>.</li>
                <li><a href="ejemplos/ideformosa.html">Ejemplo aprovechando idera.jquery para el servicio WMS de la IDE de Formosa</a>.</li>
            </ul>            
        </div><!--span4-->
    </div><!--row-->
</div>
